#login_div {
            margin-top: 200px;
             border-radius: 10px;
            width: 500px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            background-color: rgba(4, 22, 3, 0.58);

        }
        .title_div{
            padding: 5px 5px;
            height: 35px;
             font-size:20px;
            color:whitesmoke;
            font-family: '微软雅黑';
        }
        .control {
            margin-top: 5px;

            height: 50px;
            font-size:16px;
            color:whitesmoke;
            font-family: '微软雅黑';
        }

        .label {
            width: 150px;
            height: 45px;
            float:left;
        }

        .input_div {
            height: 45px;
            float: left;
        }
        .input_div input{
            width: 250px;
            height:30px;
            border-radius: 10px;

        }
        .label_text{
            width:150px;
            float:right;
            margin-right: 15px;
            text-align: right;
            line-height:35px;
        }
        .control a{
            text-align: right;
              font-size:16px;
            color:whitesmoke;
            font-family: '微软雅黑';
            text-decoration: none;
            margin-left: 20px;

        }
        .control a:hover{
            color:#00a2d4;
            text-decoration: #00a2d4;
        }